.forumBox{
    border: solid 1px black;
    width: 500px;
    height: fit-content;
    justify-content: grid;
    border-radius: 5px;
    background-color: grey;
}


.container-1{
    border: solid 1px lightblue;
    justify-content: center;
    width: fit-content;
    align-items: center;
    display: inline-block;
    background-color: lightblue;
  }

.container{
    border: solid 1px lightblue;
    justify-content: center;
    width: fit-content;
    align-items: center;
    display: inline-block;
    background-color: lightblue;
  }

  .container-2{
    border: solid 1px lightblue;
    width: 500px;
    background-color: lightblue;
    display: inline-block;

  }

.box {
    border: solid 1px lightblue;
    margin-bottom: 400px;
    background-color: lightblue;
}

