.body {
    width: 100vw;
    background-color: lightblue;
}

.pokeFont {
    font-family: Pokemon;
}
.pokeBall {
    width: 50px;
}
.center {
    align-items: center;
    justify-content: center;
}

.container-1 {
    width: 500px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.detailBox {
    font-family: Pokemon;
    border: solid 15px grey;
    width: 1450px;
    background-color: lightgray;
    border-radius: 50px;
}

.img img {
    width: 350px;
}