body{
    background-color: lightblue;
  }
  
  .container{
    border: solid 1px lightblue;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-left: 155px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: -100px;
    width: 270px;
    border-radius: 5px;
    background-color: lightblue;
  }
  
  .center{
    text-align: center;
    align-items: center;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .searchForm input {
    margin-left: 10px;
  }
  
  .searchForm {
    margin-bottom: 20px;
  }
  
  .searchForm > label {
    font-weight: bold;
    
  }
  
  .userList {
    display: flex;
    flex-wrap: wrap;
  }
  
  .userImage img{
    width: 50px;
  }
  
  .userDetails{
    margin-left: 10px;
  }
  
  .userDetails label {
    font-weight: bold;
  }
  
  .userDetails > div {
    margin-bottom: 5px;
  }
  
  .userTitle {
    font-weight: bold;
    padding: 5px;
    background-color: black;
    color:white;
    border-radius: 5px;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
  }